spring:
  application:
    name: order-service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:order_db}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: true
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      continue-on-error: true

server:
  port: 8082

inventory:
  service:
    url: ${INVENTORY_SERVICE_URL:http://localhost:8081}

aws:
  sqs:
    queue:
      name: ${SQS_QUEUE_NAME:order-events-queue}

logging:
  level:
    com.oms.order: DEBUG
    org.springframework.web: INFO