spring:
  application:
    name: inventory-service

  datasource:
    url: jdbc:mysql://${DB_HOST:localhost}:${DB_PORT:3306}/${DB_NAME:inventory_db}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
        format_sql: false
    defer-datasource-initialization: true
  sql:
    init:
      mode: always
      continue-on-error: true

server:
  port: 8081

aws:
  sqs:
    queue:
      name: ${SQS_QUEUE_NAME:order-events-queue}

logging:
  level:
    com.oms.inventory: DEBUG
    org.springframework.web: INFO
    org.hibernate.SQL: WARN
    org.hibernate.orm.jdbc.bind: WARN